<!--
SPDX-FileCopyrightText: 2025 CERN

SPDX-License-Identifier: GPL-3.0-or-later

Adaptyst Analyser: a tool for analysing performance analysis results
-->

<!DOCTYPE html>
<html style="background:{{ background }}">
  <head>
    <title>{{ title }}</title>
    <script type="application/javascript"
            src="https://code.jquery.com/jquery-3.7.0.min.js"
	    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    {% for script in scripts %}
    <script type="text/javascript"
            src="{{ url_for('static', filename=script) }}"></script>
    {% endfor %}
    {% for stylesheet in stylesheets %}
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename=stylesheet) }}" />
    {% endfor %}
    <script type="text/javascript" id="viewer_script"
            src="{{ url_for('static', filename='viewer.js') }}"></script>
  </head>
  <body onclick="Menu.closeMenu()">
    <div id="main">
      <div id="header">
        <noscript>
          <div style="width:100%">
            <h2>You must have JavaScript enabled in order to use this page!</h2>
          </div>
        </noscript>
        <div id="main_header">
          <div id="header_left">
            <div><h1>{{ title }}</h1></div>
            <div><i>{{ version }}</i></div>
          </div>
          <div id="header_right">
            <select name="results" id="results_combobox" autocomplete="off">
              <option value="" selected="selected" disabled="disabled">
                Please select a performance analysis session...
              </option>
              {% for x in ids %}
              <option value="{{ x.value }}" data-label="{{ x.label }}">{{ x }}</option>
              {% endfor %}
            </select>
            <!-- The two SVGs below are from Google Material Icons, originally
                 licensed under Apache License 2.0:
                 https://www.apache.org/licenses/LICENSE-2.0.txt
                 (covered by GNU GPL v3 here) -->
            <svg id="refresh"
                 xmlns="http://www.w3.org/2000/svg" height="32px"
                 viewBox="0 -960 960 960" width="32px"
                 onclick="" class="disabled">
              <title>Refresh the session</title>
              <path d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z"/>
            </svg>
            <svg id="settings_settings"
                 xmlns="http://www.w3.org/2000/svg" height="32px"
                 viewBox="0 -960 960 960" width="32px" fill="#000000"
                 onclick="onSettingsClick(event)" class="pointer">
              <title>Settings</title>
              <path d="m388-80-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q2 10 2.5 21.5t.5 21.5q0 10-.5 21t-2.5 21l108 78-93 164-118-54q-16 13-36.5 25.5T592-206L572-80H388Zm48-60h88l14-112q33-8 62.5-25t53.5-41l106 46 40-72-94-69q4-17 6.5-33.5T715-480q0-17-2-33.5t-7-33.5l94-69-40-72-106 46q-23-26-52-43.5T538-708l-14-112h-88l-14 112q-34 7-63.5 24T306-642l-106-46-40 72 94 69q-4 17-6.5 33.5T245-480q0 17 2.5 33.5T254-413l-94 69 40 72 106-46q24 24 53.5 41t62.5 25l14 112Zm44-210q54 0 92-38t38-92q0-54-38-92t-92-38q-54 0-92 38t-38 92q0 54 38 92t92 38Zm0-130Z"/>
            </svg>
          </div>
        </div>
      </div>
      <div id="block" class="scrollable">
        
      </div>
      <div id="footer">
        <div id="loading">
          <img class="loading_image" src="{{ url_for('static', filename='loading.svg') }}"
               alt="Please wait..." title="Please wait..." width="32px" height="32px" />
        </div>
        <span id="footer_text">
          Welcome to Adaptyst Analyser! Select a performance analysis session in the combobox at the top to start.
        </span>
      </div>
    </div>

    {% for backend in backends %}
    <div id="{{ backend['name'] }}_settings_block"
         class="settings_block"
         data-backend="{{ backend['name'] }}"
         style="display:none">
      {{ backend['settings_code']|safe }}
    </div>
    {% endfor %}
  </body>
</html>
